@import "./src/ConstantsMixins";

.imageOfTheDay {
  @include atSmall {
    max-height: 50vh;
  }
  @include atMed {
    margin: auto, auto;
    max-width: 100vw;
  }
}

.contentIframe {
  position: relative;
  height: 0;
  @include atSmall {
    max-width: 95vw;
  }
  @include atMed {
    max-width: 45vw;
  }
}

.contentImage {
  @include atSmall {
    height: 50%;
    width: auto;
  }
}

.contentTitle {
  font-size: medium;
}
